<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>汽车检测线远程智能故障诊断系统</title>
<link href="/css/style2.css" rel="stylesheet" type="text/css" />
  <!--   引入jQuery -->
  <script type="text/javascript" src="js/jquery-1.11.0.js"></script>
  <script type="text/javascript">
  $(function () {
      $("#regist").click(function(){
        document.first.action="/reg";
        document.first.submit();
      })
  })
  </script>
</head>
<body>
   <h2>汽车检测线远程智能故障诊断系统</h2>
   <div class="big-box">
     <form method="post" action="login" id="regForm" name="first">

     <div class="int">

       <label for="username">用户名:</label>
       <input type="text" id="username" class="required" name="username"/>
       <span class="error1">$!{username_error}</span>
     </div>
     <div class="int">
       <label for="password">密码:</label>
       <input type="password" id="password" class="required" name="password"/><br>
     </div>
     <div class="sub">
       <input type="submit" value="登陆" class="submit1"/>
       <input type="button" id="regist" value="注册"/>
     </div>
     </form>
   </div>
  $!{error}
</body>
</html>